<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
<link th:href="@{~/fontawesome/css/login.css}" rel="stylesheet">
</head>
<body>

	<!-- Fragment #1 : Navbar contains nav links -->
	<div th:fragment="nav">
		<header>
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#" th:href="@{/index}">GSM-Store</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#"
							th:href="@{/index}">Acceuil <span class="sr-only">(current)</span></a>
						</li>

						<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
							class="nav-link" href="#" th:href="@{/admin/index}">Admin</a></li>
						<li sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')"
							class="nav-item"><a class="nav-link" href="#"
							th:href="@{/manager/index}">Management</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Categories </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a> <a
									class="dropdown-item" href="#">Autres actions</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div></li>
					</ul>
					<ul class="nav my-auto mr-4">
						<li class="nav-item"><a href="#" class="text-info"
							th:href="@{/profile/cart-product}"><i
								class="fas fa-shopping-cart"></i></a></li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Rechercher</button>
					</form>
					<form class="form-inline my-2 my-lg-0" form-method="post"
						th:action="@{/logout}">
						<button sec:authorize="isAuthenticated()"
							class="btn btn-outline-danger my-2 my-sm-0" type="submit">Se déconnecter</button>
						<button sec:authorize="isAnonymous()" th:href="@{~/login}"
							class="btn btn-outline-info my-2 my-sm-0" type="submit">Se connecter</button>
					</form>
				</div>
			</nav>
			<!-- Navbar -->
			<!-- trying commit -->

			<!-- Background image -->
			<div class="p-5 text-center bg-image"
				style=" background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg'); height: 400px; background-repeat:no/* background-color: #5ba7a9; */">

			</div>
			<!-- Background image -->
		</header>
	</div>
	<!-- Fragment #2 : footer -->
	<div th:fragment="foot">
		<footer class="bg-light text-center text-lg-start">
			<!-- Grid container -->
			<div class="container p-4">
				<!--Grid row-->
				<div class="row">
					<!--Grid column-->
					<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
						<h5 class="text-uppercase">Footer text</h5>

						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa
							corporis vitae repudiandae aliquam voluptatem veniam, est atque
							cumque eum delectus sint!</p>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
						<h5 class="text-uppercase">Footer text</h5>

						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa
							corporis vitae repudiandae aliquam voluptatem veniam, est atque
							cumque eum delectus sint!</p>
					</div>
					<!--Grid column-->
				</div>
				<!--Grid row-->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: #5ba7a9">
				2020 Copyright: <a class="text-dark" href="https://mdbootstrap.com/">GSM-Store.com</a>
			</div>
			<!-- Copyright -->
		</footer>
</body>
</html>