<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="UTF-8" />
</head>
<title>Product Detail</title>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
		<div class="row">
		
			<!-- Affichage Image -->
			
			<div class="col-md-6">
				<img style="height: 520px; width: 520px;" th:src="${product.image}"
					alt="Product Image" />
			</div>
			
				<!-- Affichage Titre Produit -->
			
			    <div class="col-md-6" style="border: 0px solid gray">
				<h3 th:text="${product.productName}"></h3>

                <!-- Affichage Categorie --> 
                

				<h5 style="color: #337ab7">Categorie 
				<a class="list-group-item mr-2" th:each="category : ${productList}"
					th:text="${category.categoryName}" href="#"
					th:href="@{'/getProducts/' + ${category.categoryId}}"></a></h5>
					<p>Smartphone</p>
				
					
				<!-- Affichage Fiche Technique --> 
					
				<div style="width: 100%; border-top: 1px solid silver"></div>
				<h5 class="title-attr" style="color: #337ab7">Fiche Technique </h5>
				<p th:text="${product.productDescription}" class="card-text"></p>
				
				<!-- Affichage Prix --> 
				
				<div style="width: 100%; border-top: 1px solid silver"></div>
				<h5 class="title-price" style="color: #337ab7">Prix </h5>
				<h3 style="margin-top: 0px;" th:text="${product.productPrice}+' €'" class="card-text"></h3>
				
				<!-- Affichage Quantité en stock -->
				
				<div style="width: 100%; border-top: 1px solid silver"></div>
				<div class="section" style="padding-bottom: 20px;">
				<h5 class="title-attr" style="color: #337ab7">Quantité en stock </h5>
				<h5 th:text="${product.productUnit}" class="card-text"></h5>
				
			
				<!-- Button Ajouter au panier -->
					<div class="section" style="padding-bottom: 20px;">
						<a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}"

							class="btn btn-info btn-md">Ajouter au panier</a><br/><br/>
						
							
                        <!-- Button Ajouter aux favoris -->
						<h6><a href="#"><span class="glyphicon glyphicon-heart-empty"
								style="cursor: pointer;"></span> Ajouter aux favoris </a></h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<br/><br/>
	<footer th:insert="fragments.html :: foot"></footer>

</body>
</html>